{% extends 'base.html' %}
{% block title %} About - Company Sentiment Analyser {% endblock %}
{% block content %}
<main>
    <section>
        <h2>About Company Sentiment Analyser</h2>
        <p>Company Sentiment Analyser is a project designed to track publicly traded companies and analyse their public sentiment.</p>
        <p>Our goal is to provide users with valuable insights into company performance and market trends, empowering informed decision-making.</p>
    </section>
</main>
{% endblock %}
